body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
header{
    height: 100vh;
    background: linear-gradient(rgba(1, 3, 56, .8), rgba(1, 3, 56, .4)), url(img/background.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*************** Style for navigation *****************/
.navigation{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.menu{
    display: flex;
}

.nav{
    display: flex;
    list-style: none;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    margin: 0 30px 0 0;
    font-size: 18px;
}

.icon li a {
    margin: 0 20px 0 0;
}

.logo{
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    color: #00d4c6;
}

.link{
    transition: .5s;
}
.link:hover {
    color: #00d4c6;
}

/********************* Style for description *********************/
.description {
    top: 35%;
    left: 10%;
    width: 35%;
    position: absolute;
}
.description h1{
    margin: 0;
    font-size: 40px;
    color: #fff;
}
.description p {
    color: #c7c7c7;
    font-size: 20px;
}

.shop{
    background: none;
    border: 2px solid #00d4c6;
    text-decoration: none;
    color: #00d4c6;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 3px;
    font-weight: bold;
    transition: .5s;
}
.shop:hover {
    background: #00d4c6;
    color: #fff;
}

/********************** Style for end-head *******************/
.post-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    top: 92%;
    left: 50%;
    transform:translate(-50%, -50%);
}
.social{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.social li{
    padding: 0 15px 0 0;
}
.social li a {
    color: #c7c7c7;
    font-size: 25px;
    text-decoration: none;
}

.post-nav{
    display: flex;
    list-style: none;
}
.post-nav li{
  padding: 0 30px 0 0;
}
.post-nav li a{
   color: #c7c7c7;
   text-decoration: none;
   font-size: 18px;
}